Python-tipe/3D-TestModel/3D-TestModel.obj
Python-tipe/3D-TestModel/3D-TestModel_u1_v1_diffuse.jpeg
Python-tipe/3D-TestModel/3D-TestModel.jpeg
Python-tipe/3D-TestModel/3D-TestModel.mtl
Python-tipe/3D-TestModel/3D-TestModel.obj.rcInfo
Python-tipe/3D-TestModel/3D-TestModel.rcInfo
Python-tipe/3D-TestModel/Test1/3D-TestModel.mtl
Python-tipe/3D-TestModel/Test1/3D-TestModel.obj
Python-tipe/3D-TestModel/Test1/3D-TestModel.obj.rcInfo
Python-tipe/3D-TestModel/Test1/3D-TestModel_u1_v1_diffuse.jpeg
